*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
}

.header-flex{
    display: flex;
    justify-content: space-between;
}

/* LAYOUT RULES */

.container{
    max-width: 600px;
    margin: 0 auto;
}

.left-logo, .right-menu{
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.hamburger{
    background-color: green;
}

.extended-menu{
    background-color: red;
    display: none;
}

.hamburger, .extended-menu{
    width: 100%;
    height: 100%;
}


/* TABLET */

@media screen and (min-width: 768px) {
    .container{
        max-width: 750px;
    }
}

/* DESKTOP */

@media screen and (min-width: 991px) {

    .container{
        max-width: 950px;
    }
    .hamburger{
        display: none;
    }
    
    .extended-menu{
        display: block;
    }
     
}

/* LARGE DESKTOP */

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
